.women-s-vintage {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .women-s-vintage .div {
    background-color: #e2e2e2;
    overflow: hidden;
    width: 1440px;
    height: 3532px;
    position: relative;
  }
  
  .women-s-vintage .revival-vintage-logo {
    position: absolute;
    width: 325px;
    height: 103px;
    top: 25px;
    left: 40px;
  }
  
  .women-s-vintage .banners {
    position: absolute;
    width: 1175px;
    height: 551px;
    top: 470px;
    left: 132px;
    object-fit: cover;
  }
  
  .women-s-vintage .footer {
    position: absolute;
    width: 1442px;
    height: 468px;
    top: 3065px;
    left: 0;
    background-color: #ffffff;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-color: #00000040;
  }
  
  .women-s-vintage .newsletter-section {
    position: absolute;
    width: 770px;
    height: 150px;
    top: 100px;
    left: 530px;
  }
  
  .women-s-vintage .text-wrapper {
    position: absolute;
    top: 0;
    left: 200px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .p {
    position: absolute;
    top: 50px;
    left: 0;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .group {
    position: absolute;
    width: 735px;
    height: 50px;
    top: 100px;
    left: 16px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .women-s-vintage .frame {
    display: inline-flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    top: -1px;
    left: 621px;
    background-color: #5f923a;
    border-radius: 5px;
  }
  
  .women-s-vintage .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .social-media-section {
    position: absolute;
    width: 237px;
    height: 125px;
    top: 100px;
    left: 145px;
  }
  
  .women-s-vintage .social-media-icons {
    position: absolute;
    width: 235px;
    height: 55px;
    top: 70px;
    left: 0;
  }
  
  .women-s-vintage .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 27px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .text-wrapper-4 {
    position: absolute;
    top: 20px;
    left: 426px;
    -webkit-text-stroke: 0.5px #7bbd4b;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
    top: 330px;
    left: 39px;
  }
  
  .women-s-vintage .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    padding: 0px 0px 0px 515px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .women-s-vintage .payment-methods {
    position: absolute;
    width: 422px;
    height: 35px;
    top: 410px;
    left: 41px;
  }
  
  .women-s-vintage .square-pay {
    position: absolute;
    width: 117px;
    height: 35px;
    top: 0;
    left: 0;
  }
  
  .women-s-vintage .group-2 {
    position: absolute;
    width: 290px;
    height: 20px;
    top: 8px;
    left: 132px;
  }
  
  .women-s-vintage .apple-pay {
    position: absolute;
    width: 31px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .women-s-vintage .mastercard-icon {
    position: absolute;
    width: 30px;
    height: 21px;
    top: -1px;
    left: 80px;
  }
  
  .women-s-vintage .AMEX-icon {
    position: absolute;
    width: 32px;
    height: 20px;
    top: 0;
    left: 161px;
  }
  
  .women-s-vintage .discover-icon {
    position: absolute;
    width: 31px;
    height: 20px;
    top: 0;
    left: 120px;
  }
  
  .women-s-vintage .visa-icon {
    position: absolute;
    width: 30px;
    height: 21px;
    top: 0;
    left: 41px;
  }
  
  .women-s-vintage .cashapp-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 203px;
  }
  
  .women-s-vintage .image {
    position: absolute;
    width: 58px;
    height: 20px;
    top: 0;
    left: 233px;
    object-fit: cover;
  }
  
  .women-s-vintage .line {
    width: 1px;
    height: 35px;
    top: 0;
    left: 122px;
    position: absolute;
    object-fit: cover;
  }
  
  .women-s-vintage .copyright {
    position: absolute;
    width: 82px;
    height: 25px;
    top: 415px;
    left: 1319px;
  }
  
  .women-s-vintage .copyright-icon {
    position: absolute;
    width: 27px;
    height: 27px;
    top: -1px;
    left: -1px;
  }
  
  .women-s-vintage .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 35px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .by-clicking-sign-up {
    position: absolute;
    width: 512px;
    top: 255px;
    left: 605px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .span {
    font-weight: 500;
  }
  
  .women-s-vintage .text-wrapper-7 {
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .women-s-vintage .img {
    width: 1400px;
    height: 1px;
    top: 384px;
    left: 20px;
    position: absolute;
    object-fit: cover;
  }
  
  .women-s-vintage .new-arrivals-page {
    position: absolute;
    width: 1444px;
    height: 150px;
    top: 235px;
    left: 0;
  }
  
  .women-s-vintage .overlap-group {
    position: relative;
    width: 1440px;
    height: 150px;
  }
  
  .women-s-vintage .rectangle-header {
    position: absolute;
    width: 1440px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .women-s-vintage .rectangle {
    height: 150px;
    background-color: #5f923a80;
  }
  
  .women-s-vintage .text-wrapper-8 {
    position: absolute;
    height: 45px;
    top: 35px;
    left: 556px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .rediscover-retro {
    position: absolute;
    height: 30px;
    top: 85px;
    left: 570px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #272727;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .women-s-clothing {
    top: 1206px;
    position: absolute;
    width: 1245px;
    height: 525px;
    left: 98px;
  }
  
  .women-s-vintage .polaroid-card {
    position: absolute;
    width: 365px;
    height: 525px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .women-s-vintage .polaroid-photo {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 45px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .price {
    position: absolute;
    height: 28px;
    top: 483px;
    left: 169px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .polaroid-card-2 {
    left: 440px;
    position: absolute;
    width: 365px;
    height: 525px;
    top: 0;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .women-s-vintage .polaroid-photo-2 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-5.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-2 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 42px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .overlap {
    position: absolute;
    width: 365px;
    height: 525px;
    top: 0;
    left: 880px;
    border-radius: 2px;
  }
  
  .women-s-vintage .polaroid-photo-3 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-3 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 66px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .price-2 {
    position: absolute;
    height: 28px;
    top: 483px;
    left: 170px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .sale-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    position: absolute;
    top: 28px;
    left: 18px;
    background-color: #eb001b;
    border-radius: 3px;
  }
  
  .women-s-vintage .sale {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .women-s-clothing-2 {
    top: 1786px;
    position: absolute;
    width: 1245px;
    height: 525px;
    left: 98px;
  }
  
  .women-s-vintage .overlap-2 {
    position: absolute;
    width: 365px;
    height: 525px;
    top: 0;
    left: 0;
    border-radius: 2px;
  }
  
  .women-s-vintage .polaroid-photo-4 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-4 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 17px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .sale-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    position: absolute;
    top: 20px;
    left: 18px;
    background-color: #eb001b;
    border-radius: 3px;
  }
  
  .women-s-vintage .polaroid-photo-5 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-4.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-5 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 69px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .polaroid-card-3 {
    left: 880px;
    position: absolute;
    width: 365px;
    height: 525px;
    top: 0;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .women-s-vintage .polaroid-photo-6 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-6 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 107px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .women-s-clothing-3 {
    top: 2366px;
    position: absolute;
    width: 1245px;
    height: 525px;
    left: 98px;
  }
  
  .women-s-vintage .polaroid-photo-7 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-7 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 23px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .polaroid-photo-8 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-7.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-8 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 56px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .polaroid-photo-9 {
    position: absolute;
    width: 338px;
    height: 425px;
    top: 15px;
    left: 13px;
    border-radius: 5px;
    background-image: url(./img/polaroid-photo-8.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .women-s-vintage .title-9 {
    position: absolute;
    height: 28px;
    top: 455px;
    left: 83px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.9px;
    line-height: 27.6px;
    white-space: nowrap;
  }
  
  .women-s-vintage .filter-section {
    position: absolute;
    width: 1170px;
    height: 55px;
    top: 1096px;
    left: 138px;
  }
  
  .women-s-vintage .filter-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 0;
  }
  
  .women-s-vintage .sort-by-dropdown {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 775px;
  }
  
  .women-s-vintage .SORT-BY {
    position: relative;
    width: fit-content;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .select-an-option {
    display: flex;
    width: 275px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid;
    border-color: #000000;
  }
  
  .women-s-vintage .featured {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .arrowhead {
    position: relative;
    width: 10px;
    height: 5.69px;
  }
  
  .women-s-vintage .breadcrumbs-for {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 390px;
    left: 40px;
  }
  
  .women-s-vintage .home {
    position: relative;
    width: fit-content;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .img-2 {
    position: relative;
    width: 11.47px;
    height: 20px;
  }
  
  .women-s-vintage .breadcrumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .women-s-vintage .title-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .title-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #7bbd4b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .page-numbers {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 2941px;
    left: 635px;
  }
  
  .women-s-vintage .current-page-number {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    position: relative;
    flex: 0 0 auto;
    background-color: #5f923a;
    border-radius: 2px;
  }
  
  .women-s-vintage .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .header-icons {
    display: inline-flex;
    align-items: flex-end;
    gap: 25px;
    position: absolute;
    top: 50px;
    left: 745px;
  }
  
  .women-s-vintage .frame-4 {
    position: relative;
    width: 500px;
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid;
    border-color: #5f923a;
  }
  
  .women-s-vintage .header-icons-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 435px;
  }
  
  .women-s-vintage .text-wrapper-10 {
    position: absolute;
    top: 16px;
    left: 20px;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #424242;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .header-icons-3 {
    position: relative;
    flex: 0 0 auto;
  }
  
  .women-s-vintage .shopping-cart {
    display: inline-flex;
    align-items: flex-end;
    gap: 10px;
    padding: 5px 3px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .women-s-vintage .full-shopping-cart {
    position: relative;
    width: 50px;
    height: 50.04px;
  }
  
  .women-s-vintage .text-wrapper-11 {
    position: absolute;
    top: 13px;
    left: 28px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .nav-bar-with {
    position: absolute;
    width: 1440px;
    height: 65px;
    top: 170px;
    left: 0;
  }
  
  .women-s-vintage .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 9px;
    left: 82px;
  }
  
  .women-s-vintage .nav-bar-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .women-s-vintage .nav-title {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .women-s-vintage .nav-title-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Quicksand-SemiBold", Helvetica;
    font-weight: 600;
    color: #7bbd4b;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  